doctype html

html
  head
    title ODevs 
    include ./includes/default-styles.jade
    link(rel="stylesheet", href="/static/dist/main.css")
  body
    #appContainer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js")
    script(src="/static/dist/main.bundle.js")
