// Shared
@import './shared/variables/colors';

*, *:before, *:after {
  position: relative;
  box-sizing: border-box;
}

body, html {
  display: block;
  margin: 0;
}

/**
 * Repeat Table Headers For PDF 
 */
thead { display: table-header-group; }
tfoot { display: table-row-group; }
tr { page-break-inside: avoid; }

.party-parrot-wrapper {
  &.default {
    margin-top: 20%;
  }
  text-align: center;
  margin-top: 10px;
  img {
    width: 200px;
  }

}

.party-btn-wrapper {
  text-align: center;
  margin-top: 20px;
  .party-btn {
    background-color: #FD767A;
    color: #444;
    border-radius: 20px;
    text-decoration: none;
    padding: 40px 30px;
    display: block;
    margin: auto;
    width: 40%;
    font-size: 3.5vw;
    text-shadow: 2px 2px #FFF;
    -webkit-animation-name: buttonParrot;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
  }
}

@keyframes buttonParrot { 
  0% {background-color:#FECE7A;}
  12% {background-color:#7EFF7A;}
  24% {background-color:#7EFFFF;}
  36% {background-color:#7BA3FE;}
  48% {background-color:#CB70FE;}
  60% {background-color:#FC49F5;}
  78% {background-color:#FC4EA7;}
  90% {background-color:#FD5258;}
}
